.PortfolioDiv {
  display: flex;
  flex-direction: row; /* default for md & above */
  width: 100%;
}

/* Small devices (mobile) */
@media (max-width: 767px) {
  .PortfolioDiv {
    flex-direction: column;
  }
}
