.footer {
  background: linear-gradient(
    135deg,
    #F9FAFB,
    #EEF2FF
  );
  color: var(--primary);
  border-top: 1px solid #E5E7EB;
  box-shadow: 0 -6px 20px rgba(17, 24, 39, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

p{
    margin: 0;
}
.rightSideDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}